*{
    padding: 0;
    margin: 0;
}

html,body {
    height: 100%;
}

form{
    width: 94%;
    max-width: 900px;
    margin: 25px auto;
    text-align: center;
}

form fieldset{ /*Caixa onde ta os inputs*/
    padding: 20px 40px;
    border: 3px solid purple;
}

form legend{/*Estilo do titulo do formualrio*/
    text-align: center;
    font-size: 22px;
    color: rebeccapurple;
}

form input[type=text]{/*Pega todos os inputs do tipo texto*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    margin-top: 30px;
    width: 80%;
    padding: 10px 14px;
    border: 1px solid rebeccapurple;/*Bordas do input de texto*/
}

form input[type=text]:focus, form select:focus, form textarea:focus{
    outline: 0; /*Tirar borda preta que aparece quando selecionamos os inputs, alternativas e area de texto*/
}

form select{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: purple;
    width: calc(80% + 28px);/*Calcula a largura somando % com px (como o input é 80% + 14px de cada lado, para ficar do mesmo tamanho o select, precisamos fazer esse calculo tbm)*/
    margin-top: 30px;
    padding: 10px 14px;
    display: inline-block;
    border: 1px solid rebeccapurple;
}

form h2{
    margin-top: 20px;
    color:rebeccapurple;
}

.input{ /*Bolinha ou quadrados de seleção*/
    display: inline-block;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input span{ /*Textos do lado das bolinhas ou quadrados de seleção*/
    margin-left: 14px;
    font-size: 16px;
    color: rgb(130, 130, 130);
}

form textarea{ /*Caixa de texto maior*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid rebeccapurple;
    width: 80%;
    height: 150px;
    padding: 10px 14px;
    resize: none; /*Ficar fixo do tamanho que definimos*/
}

form input[type=submit]{/*Botao de submit*/
    margin-top: 20px;
    border: 0; /*Tirar borda do botao de submit*/
    width: 140px;
    height: 40px;
    font-size: 16px;
    cursor: pointer; /*deixar o cursor com forma de dedo de clicar*/
    border: 2px solid rebeccapurple;
    color: white;
    background-color: rebeccapurple;
}