*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2{
    color: green;
    padding: 220px 118px;
    position: absolute;
}

.box{
    background-color: green;
    width: 500px;
    height: 500px;
    margin: 50px auto;
}

.box:hover{
    height: 800px;
    width: 600px;
    transition: 2s;
    background-color: hotpink;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
    transition-property: width 2s height 5s;
}