*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sorteio{
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    background-color: aquamarine;
}

#num_sorteio{
    margin-bottom: 40px;
    font-size: 50px;
}

#btn_sortear{
    padding: 10px;
    border-radius: 5px;
}